@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

/* Fonts */
$fontFamily: 'Titillium Web';

/* Measures */
$containerWidth: 1200px;

/* Colors */
$bgColor: #fff;
$primaryColor: darkcyan;
$secondaryColor: #fff;
$txtColor: #333;