.active {
	font-weight: bold;
}

#busplan {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 4fr 4fr 4fr;
	}

	ul:first-child {
		font-weight: bold;
	}
}

table {
	width: 100%;
	border: solid 1px #000;
	margin: 0;
	padding: 0;
	border-spacing: 0px;

	th, td {
		border-bottom: solid 1px #000;
	}
}